body{
    margin: 0em;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(43, 43, 153);
    color: white;
    padding: 1em;
    padding-inline: 5em;
}
#knappen{
    background-color: rgb(43, 43, 153);
    border-color: rgb(255, 249, 249);
    border-style: ridge;
    width: auto;
    height: 2em;
    font-size: 18pt;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

#bilder{

    height: 250px;
}
#box{
    display: flex;
    justify-content: space-between;
    padding-inline: 3em;
}